body {
    background-color: #393e46;
    text-decoration: none;
    outline: none;
    -webkit-user-select: none;
    user-select: none; 
}

.playerIcons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 150px;
    margin-top: -450px;
    margin-left: -370px;
    border-radius: 30px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;
    padding: 30px;
    background-color: #222831;
    border-radius: 30px;
}

.livesContainer, .choiceContainer,
.resultContainer {
    width: 700px;
    height: 100px;
    margin:auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #393e46;
    border-radius: 30px;
}

.choiceContainer, .resultContainer {
    margin-top: 10%;
}

#playerIcon, #computerIcon {
    font-size: 150px;
    margin-top: -33px;
}

#playerIcon {
    float: left;
    margin-left: 35px;
}

#computerIcon {
    float: right;
    margin-right: 35px;
}

#playerLivesContainer,
#computerLivesContainer,
#rock, #paper, #scissors,
#playerChoice, #computerChoice,
#winLoseDiv {
    width: 100px;
    height: 100px;
    margin:auto;
    text-align: center;
    background-color: #f96d00;
    border-radius: 20px;
    cursor: pointer;
}

#winLoseDiv {
    width: 625px;
}

#winLoseText {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: #f2f2f2;
}

#rock, #paper, #scissors,
#playerChoice, #computerChoice {
    font-size: 75px;
}

#playerLivesText,
#computerLivesText {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: 23%;
    color: #f2f2f2;
}