body {
    background-color: gray;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    width: 400px;
    height: 550px;
    background-color: red;
}

#playerLivesContainer,
#computerLivesContainer {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 70px;
    margin-top: 10%;
    text-align: center;
    background-color: yellow;
}

#rock, #paper, #scissors {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-top: 10%;
    background-color: blue;
}

.resultContainer {
    width: 350px;
    height: 200px;
    margin-left: 25px;
    margin-top: 80%;
    text-align: center;
    background-color: green;
}

#playerChoice, #computerChoice {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 10%;
    background-color: cyan;

}